<div class="login-wrapper">
  <h1>
    Login to Livemodo
  </h1>
  <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        required
        type="text"
        [(ngModel)]="loginCredentials.Username"
        matInput
        id="username"
        name="username"
        #username="ngModel"
      />
    </mat-form-field>
    <div *ngIf="username.touched && !username.valid">
      <div *ngIf="username.errors.required">
        <p class="error-msg">username is required</p>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        required
        type="password"
        matInput
        [(ngModel)]="loginCredentials.Password"
        name="password"
        #password="ngModel"
        id="password"
      />
    </mat-form-field>
    <div *ngIf="password.touched && !password.valid">
      <div *ngIf="password.errors.required">
        <p class="error-msg">password is required</p>
      </div>
    </div>
    <div *ngIf="error" class="error-msg">
      <p>Invalid credentials</p>
    </div>
    <button mat-flat-button color="primary" [disabled]="!password.valid">
      Login
    </button>
  </form>
</div>
