@import "../../styles.scss";
.login-wrapper {
  padding: 2em;
  .login-form {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1.5em;
    text-align: center;
    font-family: $secondary-font;
  }
}
