@import "../../styles.scss";
.post-wrapper {
  padding: 5%;
  h1 {
    text-align: center;
    font-family: $secondary-font;
  }
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.rating {
  margin-top: 1em;
  margin-bottom: 2em;
}
.error-msg {
  color: red;
  margin-block-start: 0;
  margin-block-start: 0;
}
