<div class="post-wrapper">
  <h1>Post review</h1>

  <mat-card>
    <div *ngIf="!submitted"> 
      <form class="post-form" [formGroup]="addReviewForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Name of band/performer</mat-label>
          <input
            required
            formControlName="performer"
            minlength="1"
            matInput
            type="text"
            [ngClass]="{ 'error-msg': submitted && input.performer.errors }"
            pattern="^[a-zA-Z0-9 ?!$-]*$"
          />
        </mat-form-field>
        <div *ngIf="input.performer.touched && !input.performer.valid">
          <div *ngIf="input.performer.errors.required">
            <p class="error-msg">This fields can't be blank</p>
          </div>
          <div *ngIf="input.performer.errors.pattern">
            <p class="error-msg">This should include letters and numbers only</p>
          </div>
        </div>
        <mat-form-field>
          <mat-label>Tagline (optional)</mat-label>
          <input    
            formControlName="tagline"
            matInput
            type="text"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Show date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            type="text"
            formControlName="showDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            id="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Venue</mat-label>
          <input matInput type="text" required formControlName="venue" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Your review</mat-label>
          <textarea
            matInput
            formControlName="content"
            required
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
          >
        </textarea>
      </mat-form-field>
        <div *ngIf="input.content.touched && !input.content.valid">
          <div *ngIf="input.content.errors.required">
            <p class="error-msg">This fields can't be blank</p>
          </div>
        </div>
        <mat-label>Please rate the show</mat-label>
        <div class="rating">
          <mat-radio-group
            required
            labelPosition="before"
            color="primary"
            formControlName="rating"
          >
            <mat-radio-button value="1">1</mat-radio-button>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4</mat-radio-button>
          </mat-radio-group>
        </div>
        <button type="submit" mat-flat-button color="primary" [disabled]="!addReviewForm.valid">
          Submit review
        </button>
      </form>
    </div>
    <div *ngIf="submitted">
      <h1>Thank you</h1>
      <p>Your review has been submitted. You will be redirected shortly...</p>
      <mat-spinner></mat-spinner>
    </div>
  </mat-card>
</div>
