<!-- <mat-sidenav-container> -->
    <!-- <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button> -->
    <!-- <mat-sidenav [(opened)]="opened">
        <ul>
            <mat-list>
                <mat-list-item>
                    <li>
                        <mat-icon>how_to_reg</mat-icon>
                        Log in                    
                    </li>
                </mat-list-item>
            
            <mat-list-item>
                <li>
                    <mat-icon>subject</mat-icon>
                    Browse reviews         
                </li>
            </mat-list-item>
            <mat-list-item> 

            </mat-list-item>
           </mat-list>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-landing-page></app-landing-page>      
      </mat-sidenav-content>
</mat-sidenav-container> -->